@import ../../abstracts/index

$color-success: #00ab1a
$color-light: #f0f8ff
$color-light2: #c0c0c0
$color-light3: #e5f6e7

.sb-header
    &__title
        text-align: center
    
    &__notification
        padding: 10px 20px
        max-width: 320px
        margin: 0 auto
        background-color: $color-light
        text-align: center
