@import '../../abstracts/index'

$success: #00ab1a
$danger: red
$gray-100: #f0f8ff
$gray-200: #e5f6e7
$gray-300: #c0c0c0
$white: #fff

$cell-size: 30px
$whip-size: $cell-size

.sb-btn
    padding: 5px 15px

.sb-header
    margin-bottom: 20px
    margin-top: 400px // !!!

.sb-footer
    margin-bottom: 400px

.sb-notification
    padding: 10px 20px
    max-width: 320px
    margin: 0 auto
    background-color: $gray-100
    text-align: center

.sb-title
    font-size: 28px
    text-align: center

.sb-info
    max-width: 270px
    margin-bottom: 20px
    font-size: 14px
    text-align: center

.sb-port
    width: 210px

    &__line
        display: flex
        justify-content: space-between
        margin-bottom: 30px

.sb-ship
    position: absolute
    top: 0
    left: 0
    height: $whip-size
    background-color: rgba($success, 0.1)
    border: 2px solid $success
    margin: -1px

    &--1
        width: $whip-size

    &--2
        width: $whip-size * 2

    &--3
        width: $whip-size * 3

    &--4
        // width: $whip-size * 4 - 2 * 3
        width: $whip-size * 4

    &__container
        position: relative
        height: $whip-size
        border: 1px dotted $gray-300
        
        &--1
        width: $whip-size

        &--2
            width: $whip-size * 2

        &--3
            width: $whip-size * 3

        &--4
            width: $whip-size * 4

.sb-field
    $this: 'sb-field'

    margin: $cell-size 0 0 $cell-size
    counter-reset: rowCounter
    user-select: none

    &__row
        position: relative
        display: flex
        border-left: 1px solid $gray-300

        &:first-child
            border-top: 1px solid $gray-300
            counter-reset: columnCounter

            .#{$this}__cell::before
                // https://www.w3.org/TR/CSS21/generate.html#propdef-counter-increment
                counter-increment: columnCounter
                content: counter(columnCounter, upper-alpha)
                position: absolute
                bottom: 100%
                left: 0
                width: $cell-size
                padding-bottom: 5px
                font-size: 14px
                color: $success
                text-align: center

        &::before
            counter-increment: rowCounter
            content: counter(rowCounter)
            position: absolute
            top: 0
            right: 100%
            height: $cell-size
            padding-right: 10px
            line-height: $cell-size
            font-size: 14px
            color: $success
            text-align: right

    &__cell
        position: relative
        width: $cell-size
        height: $cell-size
        border: none
        border-right: 1px solid $gray-300
        border-bottom: 1px solid $gray-300
        background-color: $white
