extends ../../base/main

block variables
  - var pageTitle = 'Cup'
  - var baseUrlLvl = 1

block styles
  //- link(rel='stylesheet' href= URL_file('pages/draft/file', baseUrlLvl))

block content
  .cup
    .cup-inner
  
block scripts
  //- script(src= URL_file('pages/draft/file', baseUrlLvl, 'js'))
