extends ../../base/main

block variables
  - var pageTitle = 'Page 1'
  - var baseUrlLvl = 1

block styles
  //- link(rel='stylesheet' href= URL_file('pages/draft/crop_text', baseUrlLvl))

block content
  #some-id(style="left: 10px;right: 20px")
  button.js-btn Submit
  button.js-btn-1 Change Class
  
block scripts
  script(src= URL_file('pages/draft/page_1', baseUrlLvl, 'js'))
