extends ../../base/main

block variables
  - var pageTitle = 'Youtube ad blocker'
  - var baseUrlLvl = 1

block styles
  //- link(rel='stylesheet' href= URL_file('pages/draft/crop_text', baseUrlLvl))

block content
  
block scripts
  script(src= URL_file('pages/draft/page_2', baseUrlLvl, 'js'))
