block variables
include ../abstracts/functions
include ../abstracts/mixins
include ../abstracts/settings

doctype html
html(lang="en")
  head
    include meta
  body
    .container
      include ../layout/header
      .wrapper
        block content
    include ../layout/footer
