script.
  const setCookie = (name, value, days = 7, path = '/') => {
  const expires = new Date(Date.now() + days * 864e5).toUTCString()
    document.cookie = name + '=' + encodeURIComponent(value) + '; expires=' + expires + '; path=' + path
  }

  const getCookie = (name) => {
    return document.cookie.split('; ').reduce((r, v) => {
      const parts = v.split('=')
      return parts[0] === name ? decodeURIComponent(parts[1]) : r
    }, '')
  }

  const deleteCookie = (name, path) => {
    setCookie(name, '', -1, path)
  }

  if (!getCookie('pass11')) {
    let xxxx = prompt("Enter in the password ","");
    if (xxxx == 'pass1') {
      setCookie('pass11', true)
    } else {
    window.location = "/";
    }
  }

title= pageTitle
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name='robots' content='noindex, nofollow')
meta(name='keywords' content='')
meta(name='description' content='')
meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
link(rel='shortcut icon' href=URL_file('favicon', baseUrlLvl, 'ico') type='image/x-icon')
link(rel='stylesheet' href=URL_file('main', baseUrlLvl, 'css'))
block styles
