*, :before, :after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  outline: none;
}

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background-color: transparent;
}

a:active, a:hover, a:focus {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"], input[type="radio"] {
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input [type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: 700;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea {
  -webkit-appearance: none;
  appearance: none;
}

ul, ol {
  list-style-position: inside;
}

img {
  max-width: 100%;
  height: auto;
}

.svg_icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

svg > use {
  pointer-events: none;
}

ul, ol {
  list-style: none;
}

html {
  font-size: 100%;
  box-sizing: border-box;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  line-height: 1.2;
  font-size: 1rem;
  color: #212121;
  font-family: "Comic Sans MS", Verdana, Geneva, sans-serif;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background-color: #212121;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

label {
  user-select: none;
}

.disabled, [disabled] {
  pointer-events: none;
  cursor: default;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-bottom: 15px;
  font-weight: 700;
  line-height: 1.1;
}

h1, .h1 {
  font-size: 30px;
}

h2, .h2 {
  font-size: 30px;
}

h3, .h3 {
  font-size: 25px;
}

h4, .h4 {
  font-size: 24px;
}

h5, .h5 {
  font-size: 23px;
}

h6, .h6 {
  font-size: 22px;
}

.clear:after {
  content: '';
  display: table;
  clear: both;
}

.wrapper {
  position: relative;
  overflow-x: hidden;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.container.m-primary {
  flex: 1 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

::placeholder {
  color: inherit;
  transition: all 0.3s;
}

.input {
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 18px;
  font-size: 20px;
  border-radius: 0;
  padding: 0 14px;
  border: 2px solid transparent;
  background-color: #fff;
  color: #3b3b3b;
  box-shadow: none;
  text-align: center;
  font-family: inherit;
}

.input::placeholder {
  color: #959595;
}

.input:focus::placeholder {
  opacity: 0;
}

textarea.input {
  min-height: 154px;
  padding-top: 6px;
  resize: none;
}

select.input {
  line-height: 1em;
  text-indent: 0.01px;
  text-overflow: '';
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input[type='number'] {
  -moz-appearance: textfield;
}

.label {
  display: inline-block;
  padding: 5px 0;
  line-height: 1.7;
}

.btn {
  position: relative;
  display: inline-block;
  padding: .4em .8em .6em;
  font-size: 20px;
  line-height: 1;
  color: #fff;
  background-color: #fff;
  border: 1px solid transparent;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.3s ease;
  user-select: none;
  z-index: 1;
}

.btn:hover {
  background-color: #f2f2f2;
}

.cup {
  position: relative;
  width: 10em;
  height: 18em;
  margin: 100px 0 0 10%;
  font-size: 15px;
  transition: all 1s;
  display: none !important;
}

.cup-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 -1px 0px 4px #9e9e9e;
  transform: translateY(15px) perspective(1000px) rotateX(-40deg) scale(0.9, 1.3);
  border-radius: 3px 3px 5px 5px;
  overflow: hidden;
}

.cup-inner::before {
  content: '';
  position: absolute;
  top: 20%;
  left: -50%;
  bottom: -20%;
  width: 200%;
  background-color: red;
  filter: blur(4px);
  transition: all 1s;
}

.cup:hover {
  transform: rotate(25deg);
}

.cup:hover .cup-inner::before {
  transform: rotate(-20deg);
}

/*show from:
    hide_lap - 1300
    hide_tab - 1025
    hide_mob - 500
    show to:
    show_lap - 1300
    show_tab - 1025
    show_mob - 500
    */
@media only screen and (min-width: 1300px) {
  .show_lap {
    display: none !important;
  }
}

@media only screen and (min-width: 1025px) {
  .show_tab {
    display: none !important;
  }
}

@media only screen and (min-width: 500px) {
  .show_mob {
    display: none !important;
  }
}

@media only screen and (max-width: 1299px) {
  .hide_lap {
    display: none !important;
  }
}

@media only screen and (max-width: 1024px) {
  .hide_tab {
    display: none !important;
  }
}

@media only screen and (max-width: 499px) {
  .hide_mob {
    display: none !important;
  }
}

@media only screen and (max-width: 550px) {
  .content {
    font-size: 17px;
  }
  h1, .h1,
  h2, .h2 {
    font-size: 24px;
  }
  h3, .h3 {
    font-size: 22px;
  }
  h4, .h4 {
    font-size: 20px;
  }
  h5, .h5 {
    font-size: 19px;
  }
  h6, .h6 {
    font-size: 18px;
  }
  .input {
    height: 40px;
  }
}

.list {
  margin-bottom: 20px;
}

.list li {
  margin-bottom: 10px;
}

.list a {
  vertical-align: middle;
}

.list_title {
  margin: 20px 0 10px;
  text-transform: none;
  font-weight: 400;
}

.link_yt {
  margin-right: 5px;
  font-size: 10px;
  transition: background-color .2s;
}

@media only screen and (min-width: 1025px) {
  .link_yt:hover {
    background-color: #000;
  }
}

.link_yt:active {
  background-color: #333;
}

.ic_yt {
  border-radius: 0.4em;
  position: relative;
  display: inline-block;
  width: 3.2em;
  height: 2.2em;
  vertical-align: middle;
  background-color: #f00;
  color: #fff;
}

.ic_yt:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-left-color: inherit;
  border-width: .5em 0 .5em 1em;
  margin: auto;
}

.nav-list {
  display: flex;
}

.nav-item {
  position: relative;
  z-index: 1;
  margin-left: 5px;
}

@media only screen and (min-width: 1025px) {
  .nav-item:hover .nav-link {
    color: #212121;
    background-color: #fff;
  }
}

.nav-item.m-drop .nav-link {
  padding-right: 24px;
}

.nav-item.m-drop .nav-link::before {
  content: '';
  width: 1em;
  height: 1em;
  position: absolute;
  right: 10px;
  bottom: calc(50% - 0.1em);
  border: 0 solid #fff;
  border-width: 0 2px 2px 0;
  font-size: 8px;
  transform: rotate(45deg);
  transform-origin: 0 100%;
  transition: all 0s linear;
  transition: all 0.2s linear, border-color 0s 0.2s, background-color 0s;
}

@media only screen and (min-width: 1025px) {
  .nav-item.m-drop:hover .nav-link {
    box-shadow: inset 0 -2px #e0e0e0;
    transition: all 0.2s linear, box-shadow 0s 0.2s linear;
    padding-left: 16px;
    padding-right: 16px;
  }
  .nav-item.m-drop:hover .nav-link::before {
    bottom: 0;
    background-color: #fff;
    border-color: #e0e0e0;
    transition: all 0.2s linear, border-color 0s, background-color 0.1s 0.1s linear;
  }
  .nav-item.m-drop:hover .nav-sublist {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: all 0.2s linear;
    pointer-events: auto;
  }
}

.nav-link {
  position: relative;
  display: block;
  padding: 8px;
  transition: all 0.2s linear, box-shadow 0s 0s linear;
}

.nav-sublist {
  position: absolute;
  right: 0;
  top: 100%;
  z-index: -2;
  background-color: #fff;
  color: #212121;
  box-shadow: 3px 3px 10px rgba(33, 33, 33, 0.3);
  text-align: right;
  transition: all 0.2s linear, transform 0s 0.2s linear;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
}

.nav-subitem:not(:first-child) {
  border-top: 1px solid #e0e0e0;
}

.nav-sublink {
  display: block;
  padding: 10px 20px;
  color: #212121;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
}

@media only screen and (min-width: 1025px) {
  .nav-sublink:hover {
    background-color: #fafafa;
  }
}

.content {
  font-size: 1.6rem;
}

.content:after {
  content: '';
  display: table;
  clear: both;
}

.content img {
  height: auto !important;
}

.content table,
.content img,
.content iframe,
.content p {
  margin-bottom: 1.6rem;
}

.content ul:last-child,
.content ol:last-child,
.content table:last-child,
.content img:last-child,
.content iframe:last-child,
.content p:last-child {
  margin-bottom: 0;
}

.content ul {
  margin-bottom: 2rem;
  list-style: disc inside;
  overflow: hidden;
}

.content ul li {
  position: relative;
  padding: 0 0 0 1.6rem;
  overflow: hidden;
}

.content ul li:before {
  display: block;
  position: absolute;
  top: 1.1rem;
  left: .3rem;
  content: '';
  width: .6rem;
  height: .6rem;
  background-color: #000;
  border-radius: 50%;
}

.content ol {
  margin-bottom: 2rem;
  counter-reset: li;
}

.content ol > li {
  padding-left: 2rem;
  margin-bottom: .4rem;
  overflow: hidden;
}

.content ol > li:before {
  margin-left: -2rem;
  counter-increment: li;
  content: counters(li, ".") ". ";
}

.content li {
  font-size: 1em;
  line-height: 1.56;
}

.content h1, .content .h1,
.content h2, .content .h2,
.content h3, .content .h3,
.content h4, .content .h4,
.content h5, .content .h5,
.content h6, .content .h6 {
  margin-bottom: .9em;
  color: #424141;
}

.content p {
  color: #000;
  font-size: 1em;
  line-height: 1.6875;
}

.content blockquote {
  margin-bottom: 1.2em;
  padding-left: 1.2rem;
  border-left: .7rem solid #777;
  font-size: 1em;
  line-height: 1.5625;
}

.content blockquote:not(:first-child) {
  margin-top: 2em;
}

@media only screen and (max-width: 992px) {
  .content img[style*="float"] {
    max-width: 50%;
  }
  .content img[style*="float"][style*=" right"] {
    margin-left: 20px !important;
    margin-right: 0 !important;
  }
  .content img[style*="float"][style*=" left"] {
    margin-right: 20px !important;
    margin-left: 0 !important;
  }
}

@media only screen and (max-width: 768px) {
  .content img {
    border-width: 5px;
  }
  .content img[style*="float"] {
    float: none !important;
    display: block;
    max-width: 100%;
    margin: 0 auto 2rem !important;
  }
  .content img[style*="float"][style*=" right"] {
    margin: 0 auto 2rem !important;
  }
  .content img[style*="float"][style*=" left"] {
    margin: 0 auto 2rem !important;
  }
}

.header {
  position: relative;
  z-index: 1;
  padding: 10px 0;
  background-color: #009688;
  color: #fff;
}

.header-inner {
  display: flex;
  align-items: center;
}

.header-logo {
  display: inline-block;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
}

.header-logo-link {
  padding-bottom: 0.12em;
  display: inline-block;
  position: relative;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
  transition: color 0.2s linear;
}

.header-logo-link::before {
  content: attr(data-value);
  color: #ee6e73;
  position: absolute;
  left: -40px;
  left: 0;
  text-shadow: 0 0 1px currentColor;
  width: 20%;
  overflow: hidden;
  transition: width 0.2s linear;
}

@media only screen and (min-width: 1025px) {
  .header-logo-link:hover {
    color: #eeeeee;
  }
  .header-logo-link:hover::before {
    width: 47%;
  }
}

.header-nav {
  margin-left: auto;
}

.footer {
  background-color: #9e9e9e;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-weight: 700;
}
