*, :before, :after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
  outline: none;
}

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background-color: transparent;
}

a:active, a:hover, a:focus {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"], input[type="radio"] {
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input [type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: 700;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

ul, ol {
  list-style-position: inside;
}

img {
  max-width: 100%;
  height: auto;
}

.svg_icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

svg > use {
  pointer-events: none;
}

ul, ol {
  list-style: none;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  line-height: 1.2;
  font-size: 1.6em;
  color: #2f2f2f;
  font-family: Verdana, Geneva, sans-serif;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: all .3s;
  transition: all .3s;
}

label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.disabled, [disabled] {
  pointer-events: none;
  cursor: default;
}

.table {
  display: table;
}

.trow {
  display: table-row;
}

.tcell {
  display: table-cell;
  vertical-align: middle;
}

.fl_l {
  float: left !important;
}

.fl_r {
  float: right !important;
}

.tl {
  text-align: left;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.ib {
  display: inline-block;
}

.db {
  display: block;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-bottom: 15px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
}

h1, .h1 {
  font-size: 30px;
}

h2, .h2 {
  font-size: 30px;
}

h3, .h3 {
  font-size: 25px;
}

h4, .h4 {
  font-size: 24px;
}

h5, .h5 {
  font-size: 23px;
}

h6, .h6 {
  font-size: 22px;
}

.clear:after {
  content: '';
  display: table;
  clear: both;
}

.container {
  position: relative;
  overflow-x: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

::-webkit-input-placeholder {
  color: inherit;
  -webkit-transition: all .3s;
  transition: all .3s;
}

:-ms-input-placeholder {
  color: inherit;
  -webkit-transition: all .3s;
  transition: all .3s;
}

::-ms-input-placeholder {
  color: inherit;
  -webkit-transition: all .3s;
  transition: all .3s;
}

::placeholder {
  color: inherit;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.dialog {
  max-width: 648px;
  margin: 0 auto;
  padding: 2.4rem;
  background-color: #fff;
  display: none;
  z-index: 503;
  position: relative;
}

.dialog_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
  vertical-align: middle;
  display: none;
  z-index: 500;
  padding: 4rem 0;
}

.dialog_wrapper .main_table {
  width: 100%;
  height: 100%;
  padding-right: 2rem;
}

.dialog_wrapper .main_tcell {
  padding: 0 2rem;
}

.dialog_bg {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.45);
  display: none;
  width: 100%;
  height: 100%;
}

.dialog_opened {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}

.dialog_opened .dialog {
  -webkit-animation-name: showDialog;
          animation-name: showDialog;
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.dialog_opened .dialog_bg {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.dialog_opened .dialog_bg_wrapper {
  display: block;
}

.dialog_scrollable_mobile .dialog_wrapper {
  width: 100% !important;
}

.dialog_scrollable_mobile .main_table {
  padding-right: 0 !important;
}

.dialog_scrollable .dialog_wrapper {
  overflow-y: scroll;
  width: calc(100% + 4rem);
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes showDialog {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes showDialog {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.input {
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 18px;
  font-size: 20px;
  border-radius: 0;
  padding: 0 14px;
  border: 2px solid transparent;
  background-color: #fff;
  color: #3b3b3b;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-align: center;
  font-family: inherit;
}

.input::-webkit-input-placeholder {
  color: #959595;
}

.input:-ms-input-placeholder {
  color: #959595;
}

.input::-ms-input-placeholder {
  color: #959595;
}

.input::placeholder {
  color: #959595;
}

.input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.input:focus:-ms-input-placeholder {
  opacity: 0;
}

.input:focus::-ms-input-placeholder {
  opacity: 0;
}

.input:focus::placeholder {
  opacity: 0;
}

textarea.input {
  min-height: 154px;
  padding-top: 6px;
  resize: none;
}

select.input {
  line-height: 1em;
  text-indent: 0.01px;
  text-overflow: '';
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input[type='number'] {
  -moz-appearance: textfield;
}

.label {
  display: inline-block;
  padding: 5px 0;
  line-height: 1.7;
}

.btn {
  position: relative;
  display: inline-block;
  padding: .4em .8em .6em;
  font-size: 20px;
  line-height: 1;
  color: #fff;
  background-color: #fff;
  border: 1px solid transparent;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 15px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 1;
}

.btn:hover {
  background-color: #f2f2f2;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-arrow {
  position: absolute;
  left: 0;
  top: 50%;
  width: 2em;
  height: 2em;
  padding: 0;
  margin-top: -1em;
  font-size: 33px;
  border-radius: 50%;
  background-color: transparent;
  color: #fff;
  border: 2px solid;
  z-index: 1;
  text-indent: -9999px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.slick-arrow:before,
.slick-arrow:after {
  content: '';
  position: absolute;
  top: 50%;
  left: .6em;
  display: block;
  width: .8em;
  border: 2px solid;
  margin-top: -2px;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  border-radius: 0 2px 2px 0;
}

.slick-arrow:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: calc(.8em - 4px);
}

.slick-arrow:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 0 2px 2px 2px;
}

.slick-next {
  left: auto;
  right: 0;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.content {
  font-size: 1.6rem;
}

.content:after {
  content: '';
  display: table;
  clear: both;
}

.content img {
  height: auto !important;
}

.content table,
.content img,
.content iframe,
.content p {
  margin-bottom: 1.6rem;
}

.content ul:last-child,
.content ol:last-child,
.content table:last-child,
.content img:last-child,
.content iframe:last-child,
.content p:last-child {
  margin-bottom: 0;
}

.content ul {
  margin-bottom: 2rem;
  list-style: disc inside;
  overflow: hidden;
}

.content ul li {
  position: relative;
  padding: 0 0 0 1.6rem;
  overflow: hidden;
}

.content ul li:before {
  display: block;
  position: absolute;
  top: 1.1rem;
  left: .3rem;
  content: '';
  width: .6rem;
  height: .6rem;
  background-color: #000;
  vertical-align: middle;
  border-radius: 50%;
}

.content ol {
  margin-bottom: 2rem;
  counter-reset: li;
}

.content ol > li {
  padding-left: 2rem;
  margin-bottom: .4rem;
  overflow: hidden;
}

.content ol > li:before {
  margin-left: -2rem;
  counter-increment: li;
  content: counters(li, ".") ". ";
}

.content li {
  font-size: 1em;
  line-height: 1.56;
}

.content h1, .content .h1,
.content h2, .content .h2,
.content h3, .content .h3,
.content h4, .content .h4,
.content h5, .content .h5,
.content h6, .content .h6 {
  margin-bottom: .9em;
  color: #424141;
}

.content p {
  color: #000;
  font-size: 1em;
  line-height: 1.6875;
}

.content blockquote {
  margin-bottom: 1.2em;
  padding-left: 1.2rem;
  border-left: .7rem solid #777;
  font-size: 1em;
  line-height: 1.5625;
}

.content blockquote:not(:first-child) {
  margin-top: 2em;
}

@media only screen and (max-width: 992px) {
  .content img[style*="float"] {
    max-width: 50%;
  }
  .content img[style*="float"][style*=" right"] {
    margin-left: 20px !important;
    margin-right: 0 !important;
  }
  .content img[style*="float"][style*=" left"] {
    margin-right: 20px !important;
    margin-left: 0 !important;
  }
}

@media only screen and (max-width: 768px) {
  .content img {
    border-width: 5px;
  }
  .content img[style*="float"] {
    float: none !important;
    display: block;
    max-width: 100%;
    margin: 0 auto 2rem !important;
  }
  .content img[style*="float"][style*=" right"] {
    margin: 0 auto 2rem !important;
  }
  .content img[style*="float"][style*=" left"] {
    margin: 0 auto 2rem !important;
  }
}

.navigation_btn {
  display: none;
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 16px 7px;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: 103;
  background-color: rgba(0, 0, 0, 0.4);
}

.navigation_btn span {
  position: relative;
  display: block;
  width: 32px;
  height: 5px;
  background-color: #fff;
}

.navigation_btn span:before, .navigation_btn span:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navigation_btn span:before {
  top: -10px;
}

.navigation_btn.isOpen,
.navigation_btn.isOpen span {
  background: none;
}

.navigation_btn.isOpen:before, .navigation_btn.isOpen:after,
.navigation_btn.isOpen span:before,
.navigation_btn.isOpen span:after {
  width: 30px;
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navigation_btn.isOpen:after,
.navigation_btn.isOpen span:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.dark_overlay.nav-opened:after {
  content: '';
  display: block;
  width: 100%;
  height: 100vh;
  background: #000;
  opacity: .94;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.close_ico {
  position: absolute;
  top: -.5em;
  right: -.5em;
  display: block;
  width: 1em;
  height: 1em;
  font-size: 34px;
  color: #363636;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  -webkit-transition: all .3s;
  transition: all .3s;
  vertical-align: middle;
  cursor: pointer;
}

.close_ico:hover {
  background-color: red;
  color: #fff;
}

.close_ico:active {
  background-color: #cc0000;
  color: #fff;
}

.close_ico:before, .close_ico:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  -webkit-transform: rotate(45deg) translate(-50%, -50%);
          transform: rotate(45deg) translate(-50%, -50%);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  border: 1px solid;
  border-width: 2px 2px 1px 1px;
  border-radius: 4px;
}

.close_ico:before {
  width: 48%;
}

.close_ico:after {
  height: 48%;
}

.header {
  min-height: 100px;
  background-color: #4db6ac;
}

.footer {
  min-height: 60px;
  background-color: #ee6e73;
}

.list {
  margin-bottom: 20px;
}

.list li {
  margin-bottom: 10px;
}

.list a {
  vertical-align: middle;
}

.list_title {
  margin: 20px 0 10px;
  text-transform: none;
  font-weight: 400;
}

.link_yt {
  margin-right: 5px;
  font-size: 10px;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

@media only screen and (min-width: 1025px) {
  .link_yt:hover {
    background-color: #000;
  }
}

.link_yt:active {
  background-color: #333;
}

.ic_yt {
  border-radius: 0.4em;
  position: relative;
  display: inline-block;
  width: 3.2em;
  height: 2.2em;
  vertical-align: middle;
  background-color: #f00;
  color: #fff;
}

.ic_yt:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-left-color: inherit;
  border-width: .5em 0 .5em 1em;
  margin: auto;
}

/*show from:
    hide_lap - 1300
    hide_tab - 1025
    hide_mob - 500
    show to:
    show_lap - 1300
    show_tab - 1025
    show_mob - 500
    */
@media only screen and (min-width: 1300px) {
  .show_lap {
    display: none !important;
  }
}

@media only screen and (min-width: 1025px) {
  .show_tab {
    display: none !important;
  }
}

@media only screen and (min-width: 500px) {
  .show_mob {
    display: none !important;
  }
}

@media only screen and (max-width: 1299px) {
  .hide_lap {
    display: none !important;
  }
}

@media only screen and (max-width: 1024px) {
  .hide_tab {
    display: none !important;
  }
}

@media only screen and (max-width: 499px) {
  .hide_mob {
    display: none !important;
  }
}

@media only screen and (max-width: 550px) {
  .content {
    font-size: 17px;
  }
  h1, .h1,
  h2, .h2 {
    font-size: 24px;
  }
  h3, .h3 {
    font-size: 22px;
  }
  h4, .h4 {
    font-size: 20px;
  }
  h5, .h5 {
    font-size: 19px;
  }
  h6, .h6 {
    font-size: 18px;
  }
  .input {
    height: 40px;
  }
  .navigation {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-align: center;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    max-width: 280px;
    width: 100%;
    padding: 56px 0 0;
    z-index: 101;
    overflow-y: auto;
  }
  .navigation.nav-opened {
    right: 0;
  }
  .navigation_btn {
    display: block;
  }
}

@-webkit-keyframes counter {
  1% {
    content: "1%";
  }
  2% {
    content: "2%";
  }
  3% {
    content: "3%";
  }
  4% {
    content: "4%";
  }
  5% {
    content: "5%";
  }
  6% {
    content: "6%";
  }
  7% {
    content: "7%";
  }
  8% {
    content: "8%";
  }
  9% {
    content: "9%";
  }
  10% {
    content: "10%";
  }
  11% {
    content: "11%";
  }
  12% {
    content: "12%";
  }
  13% {
    content: "13%";
  }
  14% {
    content: "14%";
  }
  15% {
    content: "15%";
  }
  16% {
    content: "16%";
  }
  17% {
    content: "17%";
  }
  18% {
    content: "18%";
  }
  19% {
    content: "19%";
  }
  20% {
    content: "20%";
  }
  21% {
    content: "21%";
  }
  22% {
    content: "22%";
  }
  23% {
    content: "23%";
  }
  24% {
    content: "24%";
  }
  25% {
    content: "25%";
  }
  26% {
    content: "26%";
  }
  27% {
    content: "27%";
  }
  28% {
    content: "28%";
  }
  29% {
    content: "29%";
  }
  30% {
    content: "30%";
  }
  31% {
    content: "31%";
  }
  32% {
    content: "32%";
  }
  33% {
    content: "33%";
  }
  34% {
    content: "34%";
  }
  35% {
    content: "35%";
  }
  36% {
    content: "36%";
  }
  37% {
    content: "37%";
  }
  38% {
    content: "38%";
  }
  39% {
    content: "39%";
  }
  40% {
    content: "40%";
  }
  41% {
    content: "41%";
  }
  42% {
    content: "42%";
  }
  43% {
    content: "43%";
  }
  44% {
    content: "44%";
  }
  45% {
    content: "45%";
  }
  46% {
    content: "46%";
  }
  47% {
    content: "47%";
  }
  48% {
    content: "48%";
  }
  49% {
    content: "49%";
  }
  50% {
    content: "50%";
  }
  51% {
    content: "51%";
  }
  52% {
    content: "52%";
  }
  53% {
    content: "53%";
  }
  54% {
    content: "54%";
  }
  55% {
    content: "55%";
  }
  56% {
    content: "56%";
  }
  57% {
    content: "57%";
  }
  58% {
    content: "58%";
  }
  59% {
    content: "59%";
  }
  60% {
    content: "60%";
  }
  61% {
    content: "61%";
  }
  62% {
    content: "62%";
  }
  63% {
    content: "63%";
  }
  64% {
    content: "64%";
  }
  65% {
    content: "65%";
  }
  66% {
    content: "66%";
  }
  67% {
    content: "67%";
  }
  68% {
    content: "68%";
  }
  69% {
    content: "69%";
  }
  70% {
    content: "70%";
  }
  71% {
    content: "71%";
  }
  72% {
    content: "72%";
  }
  73% {
    content: "73%";
  }
  74% {
    content: "74%";
  }
  75% {
    content: "75%";
  }
  76% {
    content: "76%";
  }
  77% {
    content: "77%";
  }
  78% {
    content: "78%";
  }
  79% {
    content: "79%";
  }
  80% {
    content: "80%";
  }
  81% {
    content: "81%";
  }
  82% {
    content: "82%";
  }
  83% {
    content: "83%";
  }
  84% {
    content: "84%";
  }
  85% {
    content: "85%";
  }
  86% {
    content: "86%";
  }
  87% {
    content: "87%";
  }
  88% {
    content: "88%";
  }
  89% {
    content: "89%";
  }
  90% {
    content: "90%";
  }
  91% {
    content: "91%";
  }
  92% {
    content: "92%";
  }
  93% {
    content: "93%";
  }
  94% {
    content: "94%";
  }
  95% {
    content: "95%";
  }
  96% {
    content: "96%";
  }
  97% {
    content: "97%";
  }
  98% {
    content: "98%";
  }
  99% {
    content: "99%";
  }
  100% {
    content: "100%";
  }
}

@keyframes counter {
  1% {
    content: "1%";
  }
  2% {
    content: "2%";
  }
  3% {
    content: "3%";
  }
  4% {
    content: "4%";
  }
  5% {
    content: "5%";
  }
  6% {
    content: "6%";
  }
  7% {
    content: "7%";
  }
  8% {
    content: "8%";
  }
  9% {
    content: "9%";
  }
  10% {
    content: "10%";
  }
  11% {
    content: "11%";
  }
  12% {
    content: "12%";
  }
  13% {
    content: "13%";
  }
  14% {
    content: "14%";
  }
  15% {
    content: "15%";
  }
  16% {
    content: "16%";
  }
  17% {
    content: "17%";
  }
  18% {
    content: "18%";
  }
  19% {
    content: "19%";
  }
  20% {
    content: "20%";
  }
  21% {
    content: "21%";
  }
  22% {
    content: "22%";
  }
  23% {
    content: "23%";
  }
  24% {
    content: "24%";
  }
  25% {
    content: "25%";
  }
  26% {
    content: "26%";
  }
  27% {
    content: "27%";
  }
  28% {
    content: "28%";
  }
  29% {
    content: "29%";
  }
  30% {
    content: "30%";
  }
  31% {
    content: "31%";
  }
  32% {
    content: "32%";
  }
  33% {
    content: "33%";
  }
  34% {
    content: "34%";
  }
  35% {
    content: "35%";
  }
  36% {
    content: "36%";
  }
  37% {
    content: "37%";
  }
  38% {
    content: "38%";
  }
  39% {
    content: "39%";
  }
  40% {
    content: "40%";
  }
  41% {
    content: "41%";
  }
  42% {
    content: "42%";
  }
  43% {
    content: "43%";
  }
  44% {
    content: "44%";
  }
  45% {
    content: "45%";
  }
  46% {
    content: "46%";
  }
  47% {
    content: "47%";
  }
  48% {
    content: "48%";
  }
  49% {
    content: "49%";
  }
  50% {
    content: "50%";
  }
  51% {
    content: "51%";
  }
  52% {
    content: "52%";
  }
  53% {
    content: "53%";
  }
  54% {
    content: "54%";
  }
  55% {
    content: "55%";
  }
  56% {
    content: "56%";
  }
  57% {
    content: "57%";
  }
  58% {
    content: "58%";
  }
  59% {
    content: "59%";
  }
  60% {
    content: "60%";
  }
  61% {
    content: "61%";
  }
  62% {
    content: "62%";
  }
  63% {
    content: "63%";
  }
  64% {
    content: "64%";
  }
  65% {
    content: "65%";
  }
  66% {
    content: "66%";
  }
  67% {
    content: "67%";
  }
  68% {
    content: "68%";
  }
  69% {
    content: "69%";
  }
  70% {
    content: "70%";
  }
  71% {
    content: "71%";
  }
  72% {
    content: "72%";
  }
  73% {
    content: "73%";
  }
  74% {
    content: "74%";
  }
  75% {
    content: "75%";
  }
  76% {
    content: "76%";
  }
  77% {
    content: "77%";
  }
  78% {
    content: "78%";
  }
  79% {
    content: "79%";
  }
  80% {
    content: "80%";
  }
  81% {
    content: "81%";
  }
  82% {
    content: "82%";
  }
  83% {
    content: "83%";
  }
  84% {
    content: "84%";
  }
  85% {
    content: "85%";
  }
  86% {
    content: "86%";
  }
  87% {
    content: "87%";
  }
  88% {
    content: "88%";
  }
  89% {
    content: "89%";
  }
  90% {
    content: "90%";
  }
  91% {
    content: "91%";
  }
  92% {
    content: "92%";
  }
  93% {
    content: "93%";
  }
  94% {
    content: "94%";
  }
  95% {
    content: "95%";
  }
  96% {
    content: "96%";
  }
  97% {
    content: "97%";
  }
  98% {
    content: "98%";
  }
  99% {
    content: "99%";
  }
  100% {
    content: "100%";
  }
}

@-webkit-keyframes clip {
  0% {
    -webkit-clip-path: inset(0% 100% -1px 0%);
            clip-path: inset(0% 100% -1px 0%);
  }
  100% {
    -webkit-clip-path: inset(0% -1% -1px 0%);
            clip-path: inset(0% -1% -1px 0%);
  }
}

@keyframes clip {
  0% {
    -webkit-clip-path: inset(0% 100% -1px 0%);
            clip-path: inset(0% 100% -1px 0%);
  }
  100% {
    -webkit-clip-path: inset(0% -1% -1px 0%);
            clip-path: inset(0% -1% -1px 0%);
  }
}

.progress_wrap {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  font-family: sans-serif;
}

.progress {
  position: relative;
  border: 2px solid #1b5e20;
  width: 160px;
  height: 50px;
  font-size: 30px;
  color: #01579b;
  font-weight: 700;
}

.progress:before, .progress:after {
  content: '';
  padding: inherit;
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.progress::before {
  -webkit-animation: counter 10s linear infinite;
          animation: counter 10s linear infinite;
}

.progress:after {
  color: #fff;
  background-color: #1b5e20;
  -webkit-clip-path: inset(0% -1% -1px 0%);
          clip-path: inset(0% -1% -1px 0%);
  -webkit-animation: counter 10s linear infinite, clip 10s linear infinite;
          animation: counter 10s linear infinite, clip 10s linear infinite;
}
