*, :before, :after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  outline: none;
}

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background-color: transparent;
}

a:active, a:hover, a:focus {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"], input[type="radio"] {
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input [type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: 700;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea {
  -webkit-appearance: none;
  appearance: none;
}

ul, ol {
  list-style-position: inside;
}

img {
  max-width: 100%;
  height: auto;
}

.svg_icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

svg > use {
  pointer-events: none;
}

ul, ol {
  list-style: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  line-height: 1.2;
  font-size: 1.6em;
  color: #2f2f2f;
  font-family: Verdana, Geneva, sans-serif;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background-color: #000;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all .3s;
}

label {
  user-select: none;
}

.disabled, [disabled] {
  pointer-events: none;
  cursor: default;
}

.table {
  display: table;
}

.trow {
  display: table-row;
}

.tcell {
  display: table-cell;
  vertical-align: middle;
}

.fl_l {
  float: left !important;
}

.fl_r {
  float: right !important;
}

.tl {
  text-align: left;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.ib {
  display: inline-block;
}

.db {
  display: block;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-bottom: 15px;
  font-weight: 700;
  line-height: 1.1;
}

h1, .h1 {
  font-size: 30px;
}

h2, .h2 {
  font-size: 30px;
}

h3, .h3 {
  font-size: 25px;
}

h4, .h4 {
  font-size: 24px;
}

h5, .h5 {
  font-size: 23px;
}

h6, .h6 {
  font-size: 22px;
}

.clear:after {
  content: '';
  display: table;
  clear: both;
}

.container {
  position: relative;
  overflow-x: hidden;
  flex: 1 0 auto;
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

::placeholder {
  color: inherit;
  transition: all .3s;
}

.input {
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 18px;
  font-size: 20px;
  border-radius: 0;
  padding: 0 14px;
  border: 2px solid transparent;
  background-color: #fff;
  color: #3b3b3b;
  box-shadow: none;
  text-align: center;
  font-family: inherit;
}

.input::placeholder {
  color: #959595;
}

.input:focus::placeholder {
  opacity: 0;
}

textarea.input {
  min-height: 154px;
  padding-top: 6px;
  resize: none;
}

select.input {
  line-height: 1em;
  text-indent: 0.01px;
  text-overflow: '';
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input[type='number'] {
  -moz-appearance: textfield;
}

.label {
  display: inline-block;
  padding: 5px 0;
  line-height: 1.7;
}

.btn {
  position: relative;
  display: inline-block;
  padding: .4em .8em .6em;
  font-size: 20px;
  line-height: 1;
  color: #fff;
  background-color: #fff;
  border: 1px solid transparent;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.3s ease;
  user-select: none;
  z-index: 1;
}

.btn:hover {
  background-color: #f2f2f2;
}

/*show from:
    hide_lap - 1300
    hide_tab - 1025
    hide_mob - 500
    show to:
    show_lap - 1300
    show_tab - 1025
    show_mob - 500
    */
@media only screen and (min-width: 1300px) {
  .show_lap {
    display: none !important;
  }
}

@media only screen and (min-width: 1025px) {
  .show_tab {
    display: none !important;
  }
}

@media only screen and (min-width: 500px) {
  .show_mob {
    display: none !important;
  }
}

@media only screen and (max-width: 1299px) {
  .hide_lap {
    display: none !important;
  }
}

@media only screen and (max-width: 1024px) {
  .hide_tab {
    display: none !important;
  }
}

@media only screen and (max-width: 499px) {
  .hide_mob {
    display: none !important;
  }
}

@media only screen and (max-width: 550px) {
  .content {
    font-size: 17px;
  }
  h1, .h1,
  h2, .h2 {
    font-size: 24px;
  }
  h3, .h3 {
    font-size: 22px;
  }
  h4, .h4 {
    font-size: 20px;
  }
  h5, .h5 {
    font-size: 19px;
  }
  h6, .h6 {
    font-size: 18px;
  }
  .input {
    height: 40px;
  }
}

.content {
  font-size: 1.6rem;
}

.content:after {
  content: '';
  display: table;
  clear: both;
}

.content img {
  height: auto !important;
}

.content table,
.content img,
.content iframe,
.content p {
  margin-bottom: 1.6rem;
}

.content ul:last-child,
.content ol:last-child,
.content table:last-child,
.content img:last-child,
.content iframe:last-child,
.content p:last-child {
  margin-bottom: 0;
}

.content ul {
  margin-bottom: 2rem;
  list-style: disc inside;
  overflow: hidden;
}

.content ul li {
  position: relative;
  padding: 0 0 0 1.6rem;
  overflow: hidden;
}

.content ul li:before {
  display: block;
  position: absolute;
  top: 1.1rem;
  left: .3rem;
  content: '';
  width: .6rem;
  height: .6rem;
  background-color: #000;
  border-radius: 50%;
}

.content ol {
  margin-bottom: 2rem;
  counter-reset: li;
}

.content ol > li {
  padding-left: 2rem;
  margin-bottom: .4rem;
  overflow: hidden;
}

.content ol > li:before {
  margin-left: -2rem;
  counter-increment: li;
  content: counters(li, ".") ". ";
}

.content li {
  font-size: 1em;
  line-height: 1.56;
}

.content h1, .content .h1,
.content h2, .content .h2,
.content h3, .content .h3,
.content h4, .content .h4,
.content h5, .content .h5,
.content h6, .content .h6 {
  margin-bottom: .9em;
  color: #424141;
}

.content p {
  color: #000;
  font-size: 1em;
  line-height: 1.6875;
}

.content blockquote {
  margin-bottom: 1.2em;
  padding-left: 1.2rem;
  border-left: .7rem solid #777;
  font-size: 1em;
  line-height: 1.5625;
}

.content blockquote:not(:first-child) {
  margin-top: 2em;
}

@media only screen and (max-width: 992px) {
  .content img[style*="float"] {
    max-width: 50%;
  }
  .content img[style*="float"][style*=" right"] {
    margin-left: 20px !important;
    margin-right: 0 !important;
  }
  .content img[style*="float"][style*=" left"] {
    margin-right: 20px !important;
    margin-left: 0 !important;
  }
}

@media only screen and (max-width: 768px) {
  .content img {
    border-width: 5px;
  }
  .content img[style*="float"] {
    float: none !important;
    display: block;
    max-width: 100%;
    margin: 0 auto 2rem !important;
  }
  .content img[style*="float"][style*=" right"] {
    margin: 0 auto 2rem !important;
  }
  .content img[style*="float"][style*=" left"] {
    margin: 0 auto 2rem !important;
  }
}

.header {
  background-color: #4db6ac;
}

.footer {
  background-color: #ee6e73;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-weight: 700;
}
