extends ../base/main

block variables
  - var pageTitle = 'Styleguide'
  //- - var baseUrlLvl = 1

block styles
  link(rel='stylesheet' href= URL_file('pages/styleguide', baseUrlLvl))

block content
  h1 Styleguide
  h2 Forms
  -
    var inputFields = {
      input1: {
        label: 'Name',
        value: 'Mike',
        disabled: false
      },
      input2: {
        label: 'Surname',
        value: '',
        disabled: false
      },
    }

  each val, key in inputFields
    .input-field
      input(type='text' value=val.value).js-input-field
      label=val.label
  
block scripts
  script(src= URL_file('pages/styleguide', baseUrlLvl, 'js'))
