.mlp-container {
  margin-bottom: 50px;
}

.mlp-actions {
  max-width: 260px;
  font-size: 18px;
}

.mlp-inputfield {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.mlp-inputfield::before {
  content: 'X';
  font-size: 3em;
  font-weight: 700;
  margin: -0.5em 0.2em -0.5em auto;
  top: -0.12em;
  line-height: 1;
  color: #616161;
  position: relative;
  z-index: 1;
  opacity: 0.05;
  pointer-events: none;
}

.mlp-input {
  padding: 0.5em;
  margin: 0 0 0.5em;
  flex: 1 0 auto;
  border: 2px solid #e0e0e0;
  border-radius: 5px;
  letter-spacing: 0.1em;
}

.mlp-input:first-child {
  order: -1;
}

.mlp-input:focus {
  border-color: #bdbdbd;
}

.mlp-cta {
  display: flex;
}

.mlp-btn {
  padding: 0.3em 1em 0.5em;
  background-color: #fff;
  border: 2px solid #e0e0e0;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  flex: 1 0 0;
}

@media only screen and (min-width: 1025px) {
  .mlp-btn:hover {
    background-color: #fafafa;
  }
}

.mlp-btn + .mlp-btn {
  margin-left: 10px;
}

.mlp-btn.m-primary {
  background-color: #ee6e73;
  border-color: transparent;
  color: #fff;
}

@media only screen and (min-width: 1025px) {
  .mlp-btn.m-primary:hover {
    background-color: #eb575d;
  }
}

.mlp-result {
  display: inline-block;
  font-size: 20px;
  padding: 10px 10px 0;
}

.mlp-result-list {
  display: flex;
  justify-content: flex-end;
}

.mlp-result-list li {
  width: 1em;
  text-align: center;
}

.mlp-result-header {
  padding-bottom: 0.2em;
  margin-bottom: 0.2em;
  border-bottom: 2px solid #eeeeee;
}

.mlp-result-header-item {
  position: relative;
}

.mlp-result-header-item + .mlp-result-header-item::before {
  content: 'x';
  position: absolute;
  top: -0.8em;
  left: -0.5em;
  font-size: 0.8em;
}

.mlp-result-middle {
  position: relative;
}

.mlp-result-middle + .mlp-result-middle::before {
  content: '+';
  position: absolute;
  left: -0.5em;
  top: -0.68em;
}

.mlp-result-footer {
  padding-top: 0.2em;
  margin-top: 0.2em;
  border-top: 2px solid #eeeeee;
}

.mlp-error {
  color: #b71c1c;
  margin-left: -10px;
  font-size: 18px;
  letter-spacing: 0.04em;
}
