.sb-btn {
  padding: 5px 15px;
}

.sb-header {
  margin-bottom: 20px;
}

.sb-notification {
  padding: 10px 20px;
  max-width: 320px;
  margin: 0 auto;
  background-color: #f0f8ff;
  text-align: center;
}

.sb-title {
  font-size: 28px;
  text-align: center;
}

.sb-info {
  max-width: 270px;
  margin-bottom: 20px;
  font-size: 14px;
  text-align: center;
}

.sb-port {
  display: table;
}

.sb-port__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.sb-ship {
  height: 32px;
  background-color: #e5f6e7;
  border: 2px solid #00ab1a;
  margin-right: 15px;
}

.sb-ship--1 {
  width: 32px;
}

.sb-ship--2 {
  width: 64px;
}

.sb-ship--3 {
  width: 96px;
}

.sb-ship--4 {
  width: 122px;
}

.sb-field {
  display: table;
  padding: 30px 0 0 30px;
  counter-reset: rowCounter;
}

.sb-field__row {
  position: relative;
  display: flex;
  border-left: 1px solid #c0c0c0;
}

.sb-field__row:first-child {
  border-top: 1px solid #c0c0c0;
  counter-reset: columnCounter;
}

.sb-field__row:first-child .sb-field__cell::before {
  counter-increment: columnCounter;
  content: counter(columnCounter, upper-alpha);
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 30px;
  padding-bottom: 5px;
  font-size: 14px;
  color: #00ab1a;
  text-align: center;
}

.sb-field__row::before {
  counter-increment: rowCounter;
  content: counter(rowCounter);
  position: absolute;
  top: 0;
  right: 100%;
  height: 30px;
  padding-right: 10px;
  line-height: 30px;
  font-size: 14px;
  color: #00ab1a;
  text-align: right;
}

.sb-field__cell {
  position: relative;
  width: 30px;
  height: 30px;
  border: none;
  border-right: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
  background-color: #fff;
}
