.sb-btn {
  padding: 5px 15px;
}

.sb-header {
  margin-bottom: 20px;
  margin-top: 400px;
}

.sb-footer {
  margin-bottom: 400px;
}

.sb-notification {
  padding: 10px 20px;
  max-width: 320px;
  margin: 0 auto;
  background-color: #f0f8ff;
  text-align: center;
}

.sb-title {
  font-size: 28px;
  text-align: center;
}

.sb-info {
  max-width: 270px;
  margin-bottom: 20px;
  font-size: 14px;
  text-align: center;
}

.sb-port {
  width: 210px;
}

.sb-port__line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.sb-ship {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  background-color: rgba(0, 171, 26, 0.1);
  color: #00ab1a;
  box-shadow: inset 0 0 0 1px currentColor, 0 0 0 1px currentColor;
  z-index: 1;
  cursor: move;
}

.sb-ship--1 {
  width: 30px;
}

.sb-ship--2 {
  width: 60px;
}

.sb-ship--3 {
  width: 90px;
}

.sb-ship--4 {
  width: 120px;
}

.sb-ship__container {
  position: relative;
  height: 30px;
  outline: 1px dashed #c0c0c0;
  width: 30px;
}

.sb-ship__container--2 {
  width: 60px;
}

.sb-ship__container--3 {
  width: 90px;
}

.sb-ship__container--4 {
  width: 120px;
}

.sb-field {
  margin: 30px 0 0 30px;
  counter-reset: rowCounter;
  user-select: none;
}

.sb-field__row {
  position: relative;
  display: flex;
  border-left: 1px solid #c0c0c0;
}

.sb-field__row:first-child {
  border-top: 1px solid #c0c0c0;
  counter-reset: columnCounter;
}

.sb-field__row:first-child .sb-field__cell::before {
  counter-increment: columnCounter;
  content: counter(columnCounter, upper-alpha);
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 30px;
  padding-bottom: 5px;
  font-size: 14px;
  color: #00ab1a;
  text-align: center;
  pointer-events: none;
}

.sb-field__row::before {
  counter-increment: rowCounter;
  content: counter(rowCounter);
  position: absolute;
  top: 0;
  right: 100%;
  height: 30px;
  padding-right: 10px;
  line-height: 30px;
  font-size: 14px;
  color: #00ab1a;
  text-align: right;
  pointer-events: none;
}

.sb-field__cell {
  position: relative;
  width: 30px;
  height: 30px;
  border: none;
  border-right: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
  background-color: #fff;
}
