.s-field {
  display: inline-flex;
  flex-direction: column;
  max-width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #e0e0e0;
  font-family: monospace;
  user-select: none;
}

.s-field__btn {
  padding: 5px 15px;
  background-color: #fff;
  color: #212121;
  border: 2px solid #e0e0e0;
}

@media (min-width: 1024px) {
  .s-field__btn:hover {
    background-color: #212121;
    color: #fff;
    border: 2px solid #212121;
  }
}

.s-field__btn:focus {
  outline: none;
  background-color: #212121;
  color: #fff;
  border: 2px solid #212121;
}

.s-field__btn:disabled {
  opacity: 0.5;
}

.s-field-settings {
  width: 300px;
  max-width: 100%;
}

.s-field-settings__title {
  font-size: 24px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
}

.s-field-settings__group {
  border: 2px solid #e0e0e0;
  padding: 0 10px;
  margin: 15px 0 10px;
}

.s-field-settings__group__heading {
  padding: 0 5px;
  margin: -12px 15px 10px;
  font-size: 16px;
  background-color: #fff;
  display: table;
}

.s-field-settings__cta {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #e0e0e0;
}

.s-field-settings__goto {
  padding-bottom: 10px;
  margin-bottom: 8px;
  border-bottom: 1px solid #e0e0e0;
}

.s-field-settings__goto__button {
  position: relative;
  padding: 4px 8px 4px 34px;
  background-color: #fff;
  border: 2px solid #bdbdbd;
  border-radius: 5px;
  font-size: 14px;
  transition: all 0.1s;
}

.s-field-settings__goto__button::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 26px;
  background-color: #bdbdbd;
  border-right: 2px solid #bdbdbd;
  transition: inherit;
}

.s-field-settings__goto__button::after {
  content: '';
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  border: 6px solid transparent;
  border-right-color: currentColor;
  border-right-width: 10px;
  border-left: none;
  transition: inherit;
}

@media (min-width: 1024px) {
  .s-field-settings__goto__button:hover {
    border-color: #9e9e9e;
  }
  .s-field-settings__goto__button:hover::before {
    background-color: transparent;
    border-color: #9e9e9e;
  }
  .s-field-settings__goto__button:hover::after {
    color: #9e9e9e;
  }
}

.s-field-settings__goto__button:focus {
  outline: none;
  border-color: #9e9e9e;
}

.s-field-settings__goto__button:focus::before {
  background-color: transparent;
  border-color: #9e9e9e;
}

.s-field-settings__goto__button:focus::after {
  color: #9e9e9e;
}

.s-field-header {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.s-field-header__info {
  display: flex;
  justify-content: space-between;
}

.s-field-header__score {
  padding: 0 2px;
}

.s-field-header__hiscore {
  position: relative;
  padding: 0 2px;
}

.s-field-header__hiscore:hover .s-field-header__hiscore__list {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition: transform 0.2s ease, opacity 0.2s ease;
  will-change: transform, opacity;
}

.s-field-header__hiscore__list {
  position: absolute;
  top: 100%;
  right: 2px;
  min-width: 100%;
  margin-top: 8px;
  font-size: 0.85em;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: right;
  z-index: 1;
  border-radius: 5px 0 5px 5px;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.9);
}

.s-field-header__hiscore__list::before {
  content: '';
  position: absolute;
  right: 0;
  top: -12px;
  border: 6px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.8);
  border-right: none;
}

.s-field-header__hiscore__list::after {
  content: '';
  position: absolute;
  top: -28px;
  right: 0;
  left: 0;
  bottom: 100%;
  z-index: 1;
  cursor: pointer;
  cursor: default;
}

.s-field-header__hiscore__item {
  padding: 4px 10px 3px;
  transition: background-color .2s ease-in-out;
}

.s-field-header__hiscore__item + .s-field-header__hiscore__item {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

@media (min-width: 1024px) {
  .s-field-header__hiscore__item:hover {
    cursor: default;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.s-field-header__hiscore__item.m-highlight {
  color: #ee6e73;
  font-weight: 700;
}

.s-field-middle {
  position: relative;
}

.s-field-middle::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background-color: #fff;
  animation: middle-show 1s linear;
}

.s-field-middle::after {
  content: attr(data-load-text);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: text-blink 0.5s ease-in-out 2;
  opacity: 0;
  pointer-events: none;
}

.s-field-middle__row {
  display: flex;
}

.s-field-middle__cell {
  width: 30px;
  height: 30px;
  margin: 2px;
  color: #e0e0e0;
  border: 4px solid currentColor;
  background: linear-gradient(currentColor, currentColor) no-repeat center;
  background-size: 12px 12px;
}

.s-field-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #e0e0e0;
}

.s-field-alert-gameover {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.s-field-alert-gameover__body {
  position: relative;
  padding: 12px 35px 15px 15px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
}

.s-field-alert-gameover__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  height: 100%;
  line-height: 0;
  background-color: transparent;
  border: 1px solid transparent;
  border-left-color: currentColor;
}

@media (min-width: 1024px) {
  .s-field-alert-gameover__close:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.s-field-alert-gameover__close:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.2);
}

.s-field-alert-gameover__close::before {
  content: 'x';
  position: relative;
  top: -1px;
}

.snake-body {
  color: #616161;
}

.snake-body.m-head {
  color: #000;
}

.snake-food {
  color: #b71c1c;
  animation: food-blink 1s linear infinite;
}

@keyframes food-blink {
  0% {
    color: #ee6e73;
  }
  50% {
    color: #b71c1c;
  }
  100% {
    color: #ee6e73;
  }
}

@keyframes middle-show {
  0% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}

@keyframes text-blink {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
