-  var URL_Pug_MainNav = function(file, index = false) {
-    return '/app/' + file + (index ? '/' : '.html')
-  }

- var URL_CSS_file = function(file, cssDir) {
-    cssDir = cssDir ? cssDir : ''
-   return cssDir + `css/${file}.css`
- }
