//- mixins
mixin listOfLinks(name, title)

  if title
    h1= title
  
  each key in mainNav
    if key.name == name
      ul.list
        each item in key.subNav
          li
            if item.linkOuter
              a(href=item.linkOuter class=`link_yt ${item.icon}` target="_blank")
            a(href=item.link)= item.name
