//- Main Navigation Settings
-
  var mainNav = [
    {
      link: URL_Pug_MainNav('styleguide'),
      name: 'Styleguide',
      title: 'Styleguide'
    },
    {
      link: URL_Pug_MainNav('ideas', true),
      name: 'Ideas',
      title: 'Ideas',
      subNav: [
        {
          link: URL_Pug_MainNav('ideas/progress_bar'),
          name: 'Progress Bar',
          title: 'Progress Bar'
        },
        {
          link: URL_Pug_MainNav('ideas/crop_text'),
          name: 'Cropping text',
          title: 'Cropping text'
        },
        {
          link: URL_Pug_MainNav('ideas/multiplication'),
          name: 'Multiplication',
          title: 'Multiplication'
        },
        {
          link: URL_Pug_MainNav('ideas/snake'),
          name: 'Snake',
          title: 'Snake'
        }
      ]
    },
    {
      link: URL_Pug_MainNav('tutorials', true),
      name: 'Tutorials',
      title: 'Online Tutorials',
      subNav: [
        {
          link: URL_Pug_MainNav('tutorials/tutorial_1'),
          name: 'Sliding Border',
          title: 'Button Hover Effects | Sliding Border',
          linkOuter: 'https://youtu.be/bfrfg41tpbk',
          icon: 'youtube'
        },
        {
          link: URL_Pug_MainNav('tutorials/pattern_observer'),
          name: 'Observer Pattern',
          title: 'Observer Pattern',
          linkOuter: 'https://youtu.be/YJVj4XNASDk?t=5160',
          icon: 'youtube'
        }
      ]
    },
    {
      link: URL_Pug_MainNav('draft', true),
      name: 'Draft',
      title: 'Draft',
      subNav: [
        {
          link: URL_Pug_MainNav('draft/cup'),
          name: 'Cup',
          title: 'Cup'
        },
        {
          link: URL_Pug_MainNav('draft/page_1'),
          name: 'Page 1',
          title: 'Page 1'
        },
        {
          link: URL_Pug_MainNav('draft/page_2'),
          name: 'Page 2',
          title: 'Page 2'
        }
      ]
    }
  ]
