//- Main Navigation Settings
-
  var mainNav = [
    {
      link: '#',
      name: 'Ideas',
      subNav: [
        {
          link: URL_Pug_MainNav('ideas/progress_bar'),
          name: 'Progress Bar'
        },
      ]
    },
    {
      link: '#',
      name: 'Tutorials',
      subNav: [
        {
          link: URL_Pug_MainNav('tutorials/tutorial_1'),
          name: 'Sliding Border'
        },
      ]
    },
  ]
