//- Main Navigation Settings
-
  var mainNav = [
    {
      link: URL_Pug_MainNav('ideas', true),
      name: 'Ideas',
      title: 'Ideas',
      subNav: [
        {
          link: URL_Pug_MainNav('ideas/progress_bar'),
          name: 'Progress Bar',
          title: 'Progress Bar'
        },
        {
          link: URL_Pug_MainNav('ideas/crop_text'),
          name: 'Cropping text',
          title: 'Cropping text'
        }
      ]
    },
    {
      link: URL_Pug_MainNav('tutorials', true),
      name: 'Tutorials',
      title: 'Online Tutorials',
      subNav: [
        {
          link: URL_Pug_MainNav('tutorials/tutorial_1'),
          name: 'Sliding Border',
          title: 'Button Hover Effects | Sliding Border',
          linkOuter: 'https://youtu.be/bfrfg41tpbk',
          icon: 'youtube'
        }
      ]
    },
  ]
