.nav
    $parent: nav
    // 1 lvl
    &-list
        display: flex

    &-item
        position: relative
        z-index: 1
        margin-left: 5px

        
        +on-event
            .#{$parent}-link
                color: color(text)
                background-color: color(light)

        // dropdown
        &.m-drop
            .#{$parent}-link
                padding-right: 24px

                &::before
                    content: ''
                    width: 1em
                    height: 1em
                    position: absolute
                    right: 10px
                    bottom: calc(50% - 0.1em)
                    border: 0 solid color(light)
                    border-width: 0 2px 2px 0
                    font-size: 8px
                    transform: rotate(45deg)
                    transform-origin: 0 100%
                    transition: all 0s linear
                    transition: all 0.2s linear, border-color 0s 0.2s, background-color 0s
            
            // event dropdown
            +on-event
                .#{$parent}-link
                    box-shadow: inset 0 -2px color(border)
                    transition: all 0.2s linear, box-shadow 0s 0.2s linear
                    padding-left: 16px
                    padding-right: 16px
                    
                    &::before
                        bottom: 0
                        background-color: color(light)
                        border-color: color(border)
                        transition: all 0.2s linear, border-color 0s, background-color 0.1s 0.1s linear

                .#{$parent}-sublist
                    visibility: visible
                    opacity: 1
                    transform: translateY(0)
                    transition: all 0.2s linear
                    pointer-events: auto

    &-link
        position: relative
        display: block
        padding: 8px
        transition: all 0.2s linear, box-shadow 0s 0s linear

    // 2 lvl
    &-sublist
        position: absolute
        right: 0
        top: 100%
        z-index: -2
        background-color: color(light)
        color: color(text)
        box-shadow: 3px 3px 10px rgba(color(dark), 0.3);
        text-align: right
        transition: all 0.2s linear, transform 0s 0.2s linear
        visibility: hidden
        opacity: 0
        transform: translateY(-10px)
        pointer-events: none

    &-subitem
        &:not(:first-child)
            border-top: 1px solid color(border)

    &-sublink
        display: block
        padding: 10px 20px
        color: color(text)
        transition: all 0.2s ease-in-out
        white-space: nowrap
        
        +on-event
            // text-shadow: 2px -2px 1px color(border)
            background-color: $grey-100
