.header
    background-color: color(secondary)
    color: color(light)

    &-inner
        display: flex
        align-items: center
    
    &-logo
        padding: 10px 0
        font-size: 40px
        text-transform: uppercase
        font-weight: 700
        line-height: 1
        color: color(light)
    
    &-nav
        margin-left: auto
