extends ../../base/main

block variables
  - var pageTitle = 'Cropping text'
  - var cssDirMain = 1
  - var jsDirMain = 1

block styles
  link(rel='stylesheet' href= URL_CSS_file('pages/ideas/crop_text', cssDirMain))

block content
  .crop-wrapper.js-crop-wrapper
    .crop-text.js-crop-text
      p.
        Lorem ipsum #[strong dolor sit] amet #[em consectetur adipisicing] elit. Quam, aut eum voluptas similique et quia ea iste totam perspiciatis quaerat omnis numquam
    button.crop-btn.js-crop-btn.js-crop-btn--1 Toggle

  .crop-wrapper.js-crop-wrapper
    .crop-text.js-crop-text
      p.
        Lorem #[strong dolor sit] amet #[em adipisicing] elit. Quam, aut eum voluptas similique et quia ea iste totam perspiciatis quaerat omnis numquam
    button.crop-btn.js-crop-btn.js-crop-btn--2 Toggle 2

block scripts
  script(src= URL_JS_file('pages/ideas/crop_text', jsDirMain))
