extends ../../base/main

block variables
  - var pageTitle = 'Multiplication'
  - var baseUrlLvl = 1

block styles
  link(rel='stylesheet' href= URL_file('pages/ideas/multiplication', baseUrlLvl))

block content
  .mlp-container
    .mlp-actions
      .mlp-inputfield
        input(type='text' value='128').mlp-input.js-mlp-input
        input(type='text' value='3456').mlp-input.js-mlp-input
      .mlp-cta
        button.mlp-btn.m-primary.js-mlp-btn Multiply
        button.mlp-btn.js-mlp-btn-reset Reset
    
    .mlp-result.js-mlp-result

block scripts
  script(src= URL_file('pages/ideas/multiplication', baseUrlLvl, 'js'))
