extends ../../base/main

block variables
  - var pageTitle = 'Progress Bar'
  - var cssDirMain = 1

block styles
  link(rel='stylesheet' href= URL_CSS_file('pages/ideas/progress_bar', 1))

block content
  .progress_wrap
    .progress
