extends ../../base/main

block variables
  - var pageTitle = 'Progress Bar'
  - var cssDirMain = '../'

block styles
  link(rel='stylesheet' href= URL_CSS_file('pages/ideas/progress_bar', '../'))

block content
  .progress_wrap
    .progress
