nav.nav
    ul.nav-list
      each item in mainNav
        li(class=item.subNav ? 'nav-item m-drop' : 'nav-item')
          a(href=item.link).nav-link=item.name
          if item.subNav
            ul.nav-sublist
              each subitem in item.subNav
                li.nav-subitem
                  a(href=subitem.link).nav-sublink=subitem.name
