extends ../../base/main

block variables
  - var pageTitle = 'Progress Bar'
  - var baseUrlLvl = 1
  - var pageContainerClass ='p-wrap'

block styles
  link(rel='stylesheet' href= URL_file('pages/tutorials/tutorial_1', baseUrlLvl))

block content
  button.p-button Button
    span
    span
    span
    span
