extends ../../base/main

block variables
  - var pageTitle = 'Progress Bar'
  - var cssDirMain = 1
  - var pageContainerClass ='p-wrap'

block styles
  link(rel='stylesheet' href= URL_CSS_file('pages/tutorials/tutorial_1', 1))

block content
  button.p-button Button
    span
    span
    span
    span
