.form-input
    $_color_main: $dark
    $_color_active: $blue-700
    
    position: relative
    margin-bottom: 10px
    font-size: 16px
    color: $dark

    input
        width: 100%
        height: 48px
        padding: 0 10px
        border: 2px solid color(border)
        background-color: $white
        transition: all 0.2s ease-in-out

        &:focus
            border-color: $_color_active

            & + label
                color: $_color_active
                opacity: 1

    label
        position: absolute
        left: 12px
        top: 14px
        transition: all 0.2s ease-in-out
        transform-origin: 0 0
        opacity: 0.5
        pointer-events: none

    &.m-label
        input
            padding-top: 16px

    &.m-active
        label
            transform: translate(0, -10px) scale(0.8)
